image: Visual Studio 2017
install:
  - cinst fake -pre
  - ps: Install-Product node 8 x64
  - yarn global add mocha
build_script:
  - cmd: fake.exe run tools/deploy.fsx
test: off  
artifacts:
  - path: '*.tgz'
cache:
  - "%LOCALAPPDATA%\\Yarn"  

