os: Visual Studio 2019
version: 0.7.0-build.{build}
install:
  # Get the latest stable version of .NET Core
  - cmd: choco install dotnetcore-sdk --no-progress
  # Get the latest stable version of Node.js
  - ps: choco install nodejs --no-progress

build_script:
  - cmd: fake build -t Deploy
test: off
artifacts:
  - path: '*.tgz'
