image: Visual Studio 2017

install:
  - ps: Install-Product node 8 x64
  - yarn global add mocha

build_script:
  - ps: |
      .\build.ps1
      if ($lastexitcode -ne 0){ exit $lastexitcode }
  - mocha --reporter mocha-appveyor-reporter .\test\bin\test.js
  - ps: |
      .\build-test-compile.ps1
      if ($lastexitcode -ne 0){ exit $lastexitcode }

test: off

artifacts:
  - path: '*.tgz'

cache:
  - "%LOCALAPPDATA%\\Yarn"

deploy_script:
  - ps: |
    appveyor-deploy.ps1
    if ($lastexitcode -ne 0){ exit $lastexitcode }