source https://nuget.org/api/v2
storage:none

nuget Fable.Core
nuget Fable.Node
nuget Fable.Browser.Css
nuget Fable.Browser.Dom
nuget Fable.Browser.Svg

group netcorebuild
    source https://api.nuget.org/v3/index.json
    storage:none
    framework: netstandard2.0

    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Environment
    nuget Fake.Core.BuildServer
    nuget Fake.Api.GitHub
    nuget Fake.Tools.Git
    nuget Fake.Windows.Chocolatey
    nuget Fake.Core.Target
    nuget Fake.JavaScript.Yarn

group WebApp
    source https://api.nuget.org/v3/index.json
    storage:none

    nuget FSharp.Core redirects:force
    nuget Fable.Core
    nuget Fable.Elmish
    nuget Fable.Elmish.React
    nuget Fable.Elmish.Browser
    nuget Fable.Elmish.Debugger
    nuget Fable.Elmish.HMR
    nuget Fable.FontAwesome.Free
    nuget Fable.Promise
    nuget Fable.React
    nuget Fulma
    nuget Fulma.Extensions.Wikiki.PageLoader

