@import "./../../node_modules/bulma/sass/utilities/initial-variables";

// Bulma customization
$body-size: 14px;

@import './../../node_modules/bulma/bulma';
@import './../../node_modules/bulma-pageloader/dist/css/bulma-pageloader';
@import './../../node_modules/bulma-tooltip/dist/css/bulma-tooltip';

html {
    overflow-y: hidden;
}

.page-content {
    height: calc(100vh - #{$navbar-height});
}

.copy-button {
    position: absolute;
    z-index: 1000;
    right: 2em;
}

.copy-notification {
    position: absolute;
    z-index: 1000;
    bottom: 1em;
    right: 2em;
    margin-bottom: 0 !important;
}

.navbar-item input {
    margin-left: 0.5rem;
}